@charset "UTF-8";
/*Если вы читаете этот комментарий то я вам категорически сУчуствую. Эти стили используются для адаптации
готового макета под таблетки и мобильные устройства. Все строки где присутствует TODO:подлежать дальнейшей доработке*/
@media screen and (max-width: 1200px) {
  /**Стили для маленьких дисплеев***/
  .answer {
    width: 98%;
    margin-left: 1%; } }

@media screen and (max-width: 980px) {
  /*Стили для планшета*/
  /*адаптив щапки для планшета*/
  #tablet {
    /*Шапка для планшета*/
    /*Контейнер для планшета*/
    /*Новостная секция на главной*/
    /*video-section at the main*/
    /*end of #tablet*/ }
    #tablet nav {
      font-size: 16px;
      max-height: 73px; }
    #tablet .nav-block {
      max-height: 73px; }
    #tablet a.logotype {
      max-width: 124px;
      background-size: 60%;
      max-height: 73px;
      font-size: 16px;
      text-align: center; }
    #tablet a.pacient {
      max-width: 110px;
      max-height: 73px;
      line-height: 73px;
      font-size: 16px;
      text-align: center; }
    #tablet .nav-block > div.specialist-nav {
      max-width: 130px;
      max-height: 73px; }
      #tablet .nav-block > div.specialist-nav .specialist {
        line-height: 73px;
        font-size: 16px;
        text-align: center;
        width: 100%; }
    #tablet .nav-block > div.search-nav {
      max-width: 63px;
      max-height: 73px; }
      #tablet .nav-block > div.search-nav .search {
        background-size: 19px;
        background-position: center;
        margin: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    #tablet .nav-block > div.language-nav {
      max-width: 63px;
      max-height: 73px; }
      #tablet .nav-block > div.language-nav a.language {
        line-height: 73px;
        font-size: 16px;
        text-align: center; }
    #tablet .authorization-block {
      max-height: 73px;
      line-height: 73px; }
      #tablet .authorization-block .login-nav {
        max-height: 73px; }
      #tablet .authorization-block .login {
        line-height: 73px;
        font-size: 16px;
        text-align: center; }
        #tablet .authorization-block .login:after {
          height: 14px;
          background-size: contain; }
      #tablet .authorization-block .registration-nav {
        max-height: 73px; }
      #tablet .authorization-block .registration {
        line-height: 73px;
        font-size: 16px;
        text-align: center; }
    #tablet .preview-section_wrap {
      margin-bottom: 0; }
    #tablet .preview-section_wrap:after {
      background: none; }
    #tablet .content-block_wrap {
      padding-left: 20px;
      padding-right: 20px; }
      #tablet .content-block_wrap h2 {
        font-size: 39px; }
        #tablet .content-block_wrap h2:before {
          height: 43%; }
      #tablet .content-block_wrap .lined-title {
        margin-bottom: 40px; }
    #tablet .sidebar-block_wrap {
      display: none; }
    #tablet .content-block_wrap {
      max-width: 100%; }
    #tablet .news-block_wrap {
      display: block; }
      #tablet .news-block_wrap .right-side {
        display: none; }
      #tablet .news-block_wrap .left-side {
        width: 100%;
        display: block;
        overflow: auto; }
        #tablet .news-block_wrap .left-side .news-block {
          margin-right: 10px;
          width: 260px;
          border: 1px solid #dcdcdc;
          box-shadow: none; }
          #tablet .news-block_wrap .left-side .news-block .content-wrap {
            height: auto; }
          #tablet .news-block_wrap .left-side .news-block:last-child {
            margin-right: 0; }
          #tablet .news-block_wrap .left-side .news-block .top-part {
            font-size: 12px; }
          #tablet .news-block_wrap .left-side .news-block .middle-part {
            font-size: 17px;
            color: #000;
            height: 140px; }
          #tablet .news-block_wrap .left-side .news-block .preview-section_wrap:after {
            width: 53px; }
        #tablet .news-block_wrap .left-side .img-wrap {
          width: 100%;
          height: 202px;
          overflow: hidden; }
          #tablet .news-block_wrap .left-side .img-wrap img {
            transform: scale(1.2); }
        #tablet .news-block_wrap .left-side .line {
          width: 10px; }
    #tablet .slider-block {
      width: 100%;
      margin-top: 50px; }
      #tablet .slider-block .slider-item {
        background: #abc2d6;
        position: relative;
        height: 83px;
        z-index: 1; }
        #tablet .slider-block .slider-item img {
          float: right;
          height: 83px;
          width: auto;
          position: absolute;
          opacity: 1;
          z-index: 0;
          right: 0; }
        #tablet .slider-block .slider-item p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-family: PT_Sans-Web-Regular, sans-serif;
          font-size: 24px;
          line-height: 32px;
          color: #fff;
          width: 100%;
          text-align: center; }
      #tablet .slider-block .slick-dots {
        display: none; }
    #tablet .video-section_wrap {
      overflow: hidden; }
      #tablet .video-section_wrap .video-slider_block {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto; }
      #tablet .video-section_wrap .slider-item {
        width: 236px;
        overflow: hidden;
        margin-left: 10px;
        opacity: 1;
        height: 300px; }
        #tablet .video-section_wrap .slider-item:first-child {
          margin-left: 0; }
        #tablet .video-section_wrap .slider-item .img-block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          overflow: hidden; }
      #tablet .video-section_wrap .slider-item.slick-center {
        transform: none; }
      #tablet .video-section_wrap .content-block {
        opacity: 1;
        padding: 0;
        padding-top: 21px;
        padding-left: 20px;
        height: 100%; }
        #tablet .video-section_wrap .content-block .middle-part {
          overflow: hidden;
          height: 120px;
          font-family: Merriweather-Regular;
          font-size: 14.4px;
          line-height: 1.40;
          text-align: left;
          color: #000;
          bottom: 30px;
          position: absolute;
          margin-bottom: 5px;
          padding: 0;
          margin-left: 0;
          margin-right: 0;
          left: 0;
          right: 0; }
        #tablet .video-section_wrap .content-block .bottom-part {
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          justify-content: left; }
          #tablet .video-section_wrap .content-block .bottom-part .comment, #tablet .video-section_wrap .content-block .bottom-part .like, #tablet .video-section_wrap .content-block .bottom-part .line, #tablet .video-section_wrap .content-block .bottom-part .date {
            font-size: 13px;
            color: #000;
            padding-left: 18px;
            opacity: .6; }
          #tablet .video-section_wrap .content-block .bottom-part .line {
            display: none; }
          #tablet .video-section_wrap .content-block .bottom-part .comment {
            margin-right: 5px; }
            #tablet .video-section_wrap .content-block .bottom-part .comment:before {
              background-image: url("../images/comment.svg");
              width: 15px;
              height: 14px; }
          #tablet .video-section_wrap .content-block .bottom-part .like:before {
            background-image: url("../images/heart.svg");
            width: 15px;
            height: 13px; }
      #tablet .video-section_wrap .slick-list {
        margin-bottom: 50px; }
      #tablet .video-section_wrap .slick-dots {
        left: 50%;
        position: absolute;
        bottom: -20px;
        transform: translateX(-50%); }
    #tablet .btn_wrap.lg-btn:after {
      display: none; }
    #tablet .events-section_wrap .events-block_wrap {
      margin-top: 48px; }
    #tablet .events-section_wrap .events-list li {
      width: 260px;
      margin-right: 15px; }
    #tablet .events-section_wrap .events-section_wrap .filter-block_wrap {
      position: absolute;
      top: 83px;
      right: 43px; }
    #tablet .events-section_wrap .content-wrap .text {
      height: 100px; }
    #tablet .events-section_wrap .events-block_wrap:after {
      background-image: none; }
    #tablet .banner-block_wrap {
      height: 217px;
      margin: 0 -20px;
      width: auto; }
      #tablet .banner-block_wrap .close-btn {
        right: 50%;
        top: 0;
        transform: translate(50%, -50%); }
      #tablet .banner-block_wrap .text {
        width: 380px;
        font-size: 15px;
        margin-left: 30px; }
  /*end of @media(tablet)*/ }

@media screen and (min-width: 769px) {
  /* STYLES HERE */ }
