/*Если вы читаете этот комментарий то я вам категорически сУчуствую. Эти стили используются для адаптации
готового макета под таблетки и мобильные устройства. Все строки где присутствует TODO:подлежать дальнейшей доработке*/

@media screen and (max-width: 1200px){
  /**Стили для маленьких дисплеев***/
  .answer{
    width: 98%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 980px){
  /*Стили для планшета*/
  /*адаптив щапки для планшета*/
  #tablet, #mobile{
    /*Шапка для планшета*/
    nav{
      font-size: 16px;
      max-height: 73px;

    }
    .nav-block{
      max-height: 73px;
    }
    a.logotype{
      max-width: 124px;
      background-size: 60%;
      max-height: 73px;
      font-size: 16px;
      text-align: center;
    }
    a.pacient{
      max-width: 110px;
      max-height: 73px;
      line-height: 73px;
      font-size: 16px;
      text-align: center;
    }
    .nav-block>div.specialist-nav{
      max-width: 130px;
      max-height: 73px;
      .specialist{
        line-height: 73px;
        font-size: 16px;
        text-align: center;
        width: 100%;
      }
    }
    .nav-block>div.search-nav{
      max-width: 63px;
      max-height: 73px;
      .search{
        background-size: 19px;
        background-position: center;
        margin: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .nav-block>div.language-nav{
      max-width: 63px;
      max-height: 73px;
      a.language{
        line-height: 73px;
        font-size: 16px;
        text-align: center;
      }
    }
    .authorization-block{
      max-height: 73px;
      line-height: 73px;
      .login-nav{
        max-height: 73px;
      }
      .login{
        line-height: 73px;
        font-size: 16px;
        text-align: center;
        &:after{
          height: 14px;
          background-size: contain;
        }
      }
      .registration-nav{
        max-height: 73px;
      }
      .registration{
        line-height: 73px;
        font-size: 16px;
        text-align: center;
      }
    }
    .preview-section_wrap{
      margin-bottom: 0;
    }
    .preview-section_wrap:after{
      background: none;
    }
    /*Контейнер для планшета*/
    .content-block_wrap{
      padding-left: 20px;
      padding-right: 20px;
      h2{
        font-size: 39px;
        &:before{
          height: 43%;
        }
      }
      .lined-title{
        margin-bottom: 40px;
      }
    }
    .sidebar-block_wrap{
      display: none;
    }

    .content-block_wrap{
      max-width: 100%;
    }

    /*Новостная секция на главной*/
    .news-block_wrap{
      display: block;
      .right-side{
        display: none;
      }
      .left-side{
        width: 100%;
        display: block;
        overflow: auto;
        .news-block{
          margin-right: 10px;
          width: 260px;
          border: 1px solid #dcdcdc;
          box-shadow: none;
          .content-wrap{
            height: auto;
          }
          &:last-child{
            margin-right: 0;
          }
          .top-part{
            font-size: 12px;
          }
          .middle-part{
            font-size: 17px;
            color: #000;
            height: 140px;
          }
          .preview-section_wrap:after{
            width: 53px;
          }
        }
        .img-wrap{
          width: 100%;
          height: 202px;
          overflow: hidden;
          img{
            transform: scale(1.2);
          }
        }
        .line{
          width: 10px;
        }

      }
    }

    .slider-block{
      width: 100%;
      margin-top: 50px;
      .slider-item{
        background: #abc2d6;
        position: relative;
        height: 83px;
        z-index: 1;
        img{
          float: right;
          height: 83px;
          width: auto;
          position: absolute;
          opacity: 1;
          z-index: 0;
          right: 0;
        }
        p{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-family: PT_Sans-Web-Regular, sans-serif;
          font-size: 24px;
          line-height: 32px;
          color: #fff;
          width: 100%;
          text-align: center;
        }
      }
      .slick-dots{
        display: none;
      }



    }
    /*video-section at the main*/
    .video-section_wrap{
      overflow: hidden;
      .video-slider_block{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
      }
      .slider-item{
        width: 236px;
        overflow: hidden;
        margin-left: 10px;
        opacity: 1;
        height: 300px;
        &:first-child{
          margin-left: 0;
        }
        .img-block{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          overflow: hidden;
        }
      }
      .slider-item.slick-center{
        transform: none;
      }
      .content-block{
        opacity: 1;
        padding: 0;
        padding-top: 21px;
        padding-left: 20px;
        height: 100%;
        .middle-part{
          overflow: hidden;
          height: 120px;
          font-family: Merriweather-Regular;
          font-size: 14.4px;
          line-height: 1.40;
          text-align: left;
          color: #000;
          bottom: 30px;
          position: absolute;
          margin-bottom: 5px;
          padding: 0;
          margin-left: 0;
          margin-right: 0;
          left: 0;
          right: 0;
        }
        .bottom-part{
          position: absolute;
          bottom: 0;
          //background: #000;
          width: 100%;
          left: 0;
          justify-content: left;
          .comment, .like, .line, .date{
            font-size: 13px;
            color: #000;
            padding-left: 18px;
            opacity: .6;
          }
          .line{
            display: none;
          }
          .comment{
            margin-right: 5px;
            &:before{
              background-image: url("../images/comment.svg");
              width: 15px;
              height: 14px;
            }
          }
          .like:before{
            background-image: url("../images/heart.svg");
            width: 15px;
            height: 13px;
          }
        }
      }
      .slick-list{
        margin-bottom: 50px;
      }
      .slick-dots{
        left: 50%;
        position: absolute;
        bottom: -20px;
        transform: translateX(-50%);
      }
    }

    .btn_wrap.lg-btn:after{
      display: none; //делаем кнопки с макета
    }
    .events-section_wrap{
      .events-block_wrap{
        margin-top: 48px;
      }
      .events-list{
        height: 555px;
        overflow-y: hidden;
      }
      .events-list li{
        //width: 260px;
        margin-right: 15px;
        box-shadow: none;
        border: 1px solid #e7f4fb;
        height: 100%;
        .content-wrap{
          height: 100%;
        }
      }
      .events-section_wrap .filter-block_wrap {
        position: absolute;
        top: 83px;
        right: 43px;
      }
      .content-wrap .text{
        height: 100px;
      }
    }
    .events-section_wrap .events-block_wrap:after{
      background-image: none;
    }
    .banner-block_wrap{
      height: 217px;
      margin: 0 -20px;
      width: auto;
      .close-btn{
        right: 50%;
        top: 0;
        transform: translate(50%, -50%);
      }
      .text{
        width: 380px;
        font-size: 15px;
        margin-left: 30px;
      }
    }
    /*Блок консилиум для планшета*/
    .consultation-section_wrap{
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      .banner-block {
        width: 50%;
        max-width: 405px;
        height: 476px;
        .content-block{
          width: 100%;
          height: 100%;
          //background-color: rgba(230,255,0,.3);
        }
        .img-block{
          overflow: hidden;
          width: 100%;
          img{
            width: auto;
            height: auto;
            left: auto;
            right: 0;
          }
        }
        .text {
          width: 100%;
          padding: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        .btn_wrap{
          bottom: 49px;
        }
      }
      .consultation-block_wrap{
        width: 50%;
        max-width: 377px;
        .consultation-block{
          width: 100%;
          left: 0;
          height: 232px;
          &:last-of-type{
            height: 273px;
            top: 202px;
            margin-left: -20px;
            padding-left: 20px;
          }
        }
        .btn{
          bottom: -30px;
          width: 262px;
          height: 58px;
          line-height: 58px;
        }
      }
    }

    .opinion-slider_block{
      .slider-item{
        padding: 0;
      }
      .right-part{
        width: 503px;
        .text{
          width: 100%;
          font-size: 20px;
          font-weight: normal;
          height: auto;
          min-height: 128px;
          padding-top: 15px;
          &:before{
            position: absolute;
            display: block;
            content: "";
            width: 105px;
            height: 68px;
            opacity: .7;
            background: url(../images/quotes.svg) no-repeat;
            background-size: contain;
            top: 0px;
            left: -59px;
            transform: rotate(180deg);
          }
        }
      }
    }
    .opinion-section_wrap{
      .btn{
        width: 230px;
        height: 58px;
        line-height: 58px;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .discussion-block_wrap{
      .discussion-block{
        width: 260px;
        height: 340px;
        padding: 15px;
        margin-left: 0;
        margin-right: 15px;
        background-image: linear-gradient(0deg,rgba(255,207,212,.16),#ffe7e9);
        &:nth-child(2n){
          background-image: linear-gradient(0deg,rgba(236,249,255,.59),#d9f3ff);
        }

        .text{
          font-size: 15px;
          height: 132px;
        }
      }
      .slick-dots{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }

    .about-section_wrap{
      .about-section_wrap .events-block_wrap .events-list li:before{
        display: none;
      }
      .events-block_wrap .slick-dots li{
        display: inline-block;
        height: auto;
        width: auto;
        margin-right: 6px;
        box-sizing: border-box;
        border: none;
        padding: 0;
        position: relative;
        &:last-child{
          margin-right: 0;
        }
      }
      .events-list li:before{
        display: none;
      }
      .events-block_wrap:after{
        display: none;
      }
    }
    .partners-block_wrap{
      .lined-title{
        margin-left: 20px;
      }
      display: flex;
      flex-wrap: wrap;
      .partner-wrap{
        width: 32%;
        overflow: hidden;
        height: 87px;
        margin-bottom: 50px;
        margin-right: 1%;
        &:last-child{
          margin-right: 0;
        }
      }
      img{
        display: block;
        margin-right: 15px;
        /* height: 70px; */
        margin: 0 auto !important;
        width: auto;
        max-width: 100%;
        max-height: 70px;
        position: relative;
        top: 50%;
        /* left: 50%; */
        transform: translateY(-50%);
      }
    }
    footer{
      height: auto;
    }
    footer .container{
      display: block;
      .right-block{
        width: 100%;
        margin: 0;
        .top-part{
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin: 0;
          padding: 0 20px 50px;
        }
        .nav-list{
          width: 45%;
        }
        .bottom-part{
          margin-top: 30px;
          padding: 0 20px;
        }
      }
      .footerBottom{
        margin-top: 60px;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        a.logotype{
          max-width: 175px;
          background-size: 100%;
          max-height: 106px;
          font-size: 16px;
          text-align: center;
        }
        .bottom-right-column{
          max-width: 300px;
          margin-right: 74px;
          p{
            padding-bottom: 11px;
            margin-bottom: 0;
            &:last-of-type{
              margin-bottom: 15px;
            }
          }
        }
      }
    }




    .registration-block_wrap{
      .right-side{
        max-width: 321px;
        padding: 0;
        margin: 0;
        .nav-list{
          margin: 0 30px;
        }
        .form-send .form-field input:not([type=file]){
          width: 100%;
          height: 52px;
          font-size: 14px;
        }
      }
      .nav-block_wrap .nav-list li:not(:last-child):before {
        content: "";
        display: block;
        position: absolute;
        top: 12px;
        left: 26px;
        width: 53px;
        height: 2px;
        background: #fff;
      }
      .first-step_wrap{
        width: 100%;
        h3{
          font-size: 24px;
        }
      }

      .form-send .form-field .placeholder {
        position: absolute;
        z-index: 1;
        top: 15px;
        left: 25px;
        font-family: PT_Sans-Web-Regular;
        font-size: 14px;
        text-align: left;
        color: #abd8ef;
        transition: all .3s ease-in-out;
      }
      .header-popup_wrap.open{
        overflow: hidden !important;
        width: 300px;
      }
      .form-send .form-field.focus .placeholder {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 25px;
        font-family: PT_Sans-Web-Regular;
        font-size: 14px;
        text-align: left;
        color: #abd8ef;
        transition: all .3s ease-in-out;
      }
    }
    header .header-popup_wrap.open{
      overflow-x: hidden;
    }





    /*end of #tablet*/
  }
  /*end of @media(tablet)*/
  body.menu_open header,body.menu_open{
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  /*стили для мобильника*/
  #mobile{
    header{
      nav{
        display: none;
      }
    }
    .content-block_wrap{
      padding-right: 0;
      padding-left: 0;
    }
    .preview-section_wrap{
      background-size: cover;
      position: relative;
      box-shadow: none;
      h1{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .news-section_wrap{
      .lined-title{
        padding-left: 20px;
      }
      .left-side{
        padding-left: 20px;
      }
      .left-side .news-block .middle-part {
        font-size: 17px;
        color: #000;
        height: 140px;
        font-weight: bold;
        font-family: Merriweather-Regular, serif;
      }
      .btn_wrap{
        width: 230px;
      }
      .btn_wrap.lg-btn .btn:focus {
        top: 0px;
        left: 0px;
        transition: all .3s ease-in-out;
      }
      .news-block {
        margin-right: 10px;
        width: 90%;
        border: 1px solid #dcdcdc;
        box-shadow: none;
      }
      .slider-item {
        position: relative;
        height: 117px;
        z-index: 1;
        background: none;
        img {
          float: right;
          /* height: 83px; */
          width: 100%;
          /* position: absolute; */
          /* opacity: 1; */
          /* z-index: 0; */
          right: 0;
          height: 173px;
        }
      }
    }
    .video-section_wrap{
      .lined-title{
        margin-left: 20px;
        margin-right: 20px;
      }
      .btn_wrap.lg-btn{
        width: 230px;
        margin-top: 90px;
      }
    }
    .events-section_wrap{
      .btn_wrap.lg-btn{
        max-width: 80%;
        width: 230px;
      }
      .lined-title{
        margin-left: 20px;
        //margin-right: 20px;
        font-size: 32px;
      }
      .filter-block_wrap {
        position: static;
        top: 0;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 65px;
        .filter-list{
          display: inline-flex;
        }
      }
      h2{
        font-size: 37px;
      }
    }
    .events-block_wrap{
      padding-left: 20px;
    }
    .banner-block_wrap {
      height: 408px;
      margin: 0 -20px;
      width: auto;
      background-size: cover;
      padding: 0;
      margin: 0;
      .title{
        width: 100%;
        margin: 40px 0 20px;
        &:after{
          display: none;
        }
      }
      .text{
        text-align: center;
        width: 100%;
        margin: 20px 0;
      }
      .btn_wrap.md-btn {
        width: 207px;
        height: 50px;
        font-size: 14px;
        line-height: 50px;
        transition: all .3s ease-in-out;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .consultation-section_wrap{
      .lined-title{
        margin-left: 20px;
      }
      .content_wrap{
        display: block;
      }
      .banner-block{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        display: block;
      }
      .consultation-block_wrap {
        width: 100%;
        max-width: none;
        overflow: hidden;
        min-height: 592px;
        .btn{
          bottom: 10px;
        }
      }

      .content-block {
        padding-left: 20px;
      }
      .consultation-block:nth-child(1){
        margin-left: 20px;
        padding-right: 20px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .consultation-block:nth-child(2n){
        margin-right: 20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-top: 10px;
      }
    }
    .opinion-section_wrap{
      padding: 0;
      h2{
        padding: 0;
      }
      .lined-title{
        margin-left: 15px;
        margin-right: 15px;
      }
      .opinion-slider_block{
        padding-left: 0px;
        .slider-item{
          display: block;
          width: 260px;
          margin-right: 30px;
          .left-part{
            margin-left: 20px;
          }
          .right-part{
            margin-top: 20px;
            width: 100%;
            margin-left: 20px;
            .text{
              margin-top: 45px;
              font-size: 21px;
              line-height: 31px;
              &:before{
                width: 66px;
                height: 48px;
                left: -18px;
              }
              &:after{
                display: none;
              }
            }
            .disc{
              width: 100%;
            }
          }
          .img-block{
            width: 217px;
            height: 217px;
            margin-right: 50px;
            &:last-child{
              margin-right: 20px;
            }
          }
        }
      }
      .btn_wrap.lg-btn{
        display: block;
        max-width: 100%;
        width: 230px;
        height: 58px;
      }
    }
    .discussion-section_wrap{
      padding-left: 20px;
    }
    .about-section_wrap{
      .lined-title{
        margin-left: 20px;
      }
    }
    .partners-section_wrap{
      overflow: hidden;
      .lined-title{
        margin-left: 20px;
      }
    }
    .partners-block_wrap{
      max-width: 100%;
      .partner-wrap {
        overflow: hidden;
        height: 87px;
        margin-bottom: 50px;
        margin-right: 2%;
        width: 46%;
        margin-left: 2%;
      }
    }
    footer {
      background-size: auto;
      background-repeat: repeat-y;
      .container .right-block {
        .nav-list{
          width: 100%;
          margin-bottom: 50px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .top-part {
          display: block;
          padding-right: 0;
        }
        .bottom-part{
          display: block;
          padding-right: 0;
          margin-top: 0;
        }
      }
      .container .footerBottom{
        display: block;
        .logo-block{
          margin: 0;
          padding: 0;
          width: 100%;
        }
        .logotype{
          margin: 0 auto;
        }
        .bottom-right-column {
          max-width: 100%;
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 30px;
        }
      }
    }
    .events-section_wrap .events-block_wrap:after {
      display: none;
    }
    .btn:focus{
      left: 0;
    }

    /*end #mobile*/
  }
}
@media screen and (max-width: 445px){
  #mobile .content-block_wrap{
    .news-section_wrap{
      h2{
        text-decoration: underline;
        text-decoration-color: #d0e9f7;
        font-size: 32px;
        &:before {
          height: 20%;
          display: none;
        }
      }
    }
  }
  #mobile .opinion-section_wrap h2{
    font-size: 30px;
  }
  #mobile .lined-title h2{
    text-decoration: underline;
    text-decoration-color: #d0e9f7;
    font-size: 32px;
    &:before{
      display: none;
    }
  }
}