//***************стили для блоков на странице (секции, дивы и прочее)
.articles-section_search-box{
	.filter-block_wrap{
		display: flex;
		flex-wrap: wrap;
	}
	.filter-block{
		margin-top: 40px;
	}
	.show_more_wrapper{
		text-align: center;
		margin-bottom: 120px;
	}
}

.arch-articles-section_wrap{
	.content-block_wrap{
		display: flex;
		justify-content: flex-start;
	}
	.toolbar{
		min-width: 221px;
	}
	.social-wrap{
		width: 100%;
	}
	.social-block_wrap{
		margin: 0 auto 120px;
	}

}

.arch-article-table{
	.table_arch-article{
		.publication{
			padding: 0 30px 52px;
			border-right: 2px solid rgba(151,151,151,.3);
			width: 60%;
		}
		.counter_of_documents{
			padding: 0 30px 52px;
			text-align: center;
			width: 15%;
		}
		.date_of_publish{
			padding: 0 30px 52px;
			text-align: center;
		}
	}
	.title-row{
		font-weight: bold;
		td{
			vertical-align: bottom;
		}
	}
	a{
		display: block;
		color: inherit;
	}
}

.arch-article-wrapper{
	margin-left: 9%;
	font-family: "PT_Sans-Web-Regular", sans-serif;
	.back_link{
		font-size: 14px;
		color: #035599;
		font-family: "PT_Sans-Web-Bold", sans-serif;
		height: 17px;
		margin-bottom: 15px;
		letter-spacing: .8px;
		display: block;
	}
	.single-article{
		display: flex;
	}
	.single-article-image{
		width: 100%;
		max-width: 366px;
		overflow: hidden;
	}
	.single-article__img{
		display: block;
		max-width: 366px;
		max-height: 302px;
		float: left;
		&:hover{
			transform: scale(1.2);
			-webkit-transition: all 1.3s;
			-moz-transition: all 1.3s;
			-ms-transition: all 1.3s;
			-o-transition: all 1.3s;
			transition: all 1.3s;
		}
	}
	.article__body{
		padding: 25px;
		background-color: #f7f7f7;
		width: 100%;
		.article__categories-link{
			font-size: 16px;
			color: #035599;
			text-transform: uppercase;
			letter-spacing: 0.4px;
			font-family: "PT_Sans-Web-Bold", sans-serif;
			margin-right: 30px;
		}
		.article__title{
			padding-top: 15px;
			h2{
				font-size: 28px;
				line-height: 41px;
				color: #000;
				//font-family: "Merriweather", "PT_Sans-Web-Bold", serif;
				font-weight: bold;
			}
		}
		.article__authors{
			margin-top: 15px;
			.article__author{
				color: #035599;
				margin-right: 15px;
				font-family: "PT_Sans-Web-Bold", sans-serif;
			}
		}
		.article_date{
			color: #d8d8d8;
			font-family: "PT_Sans-Web-Regular", sans-serif;
			text-transform: uppercase;
			margin-top: 30px;
		}
	}
	.article_documents{
		.section-title{
			color: #000;
			font-size: 15px;
			opacity: .30;
			margin-top: 40px;
			margin-bottom: 17px;
		}

		.documents{
			.document_item{
				margin: 18px 0;
			}
			.document-name{
				font-family: "PT_Sans-Web-Bold", sans-serif;
				font-size: 17px;
				letter-spacing: 0.8px;
				color: #035899;
				text-transform: uppercase;
			}
			.document-file, .document-size{
				font-size: 18px;
				letter-spacing: 1px;
				color: #000;
				background-color: #d8d8d8;
				margin: 0 10px;
				text-transform: uppercase;
				padding: 0 5px;
			}
			.document-size{
				background: none;
				margin-left: 0;
			}
			.document-date{
				color: #000;
				opacity: .5;
				line-height: 22px;
				font-size: 16px;
			}
		}

		.blue-button{
			width: 228px;
			margin: 60px 0 90px;
		}
	}
}

/*вопросы и ответы*/
.question-section-wrap{
	.filter-block_wrap{
		padding-bottom: 40px;
		margin-bottom: 0;
		.filter-title_wrap{
			display: flex;
			align-items: center;
		}
		.blue-full-button{
			width: 278px;
			height: 70px;
			background-color: rgba(3,88,153,.85);
			border: 1px solid rgba(3,88,153,.85);
			line-height: 70px;
			font-family: PT_Sans-Web-Bold, sans-serif;
			text-transform: uppercase;
			font-size: 18px;
			color: #ffffff !important;
			margin-top: 14px;
			&:hover{
				background-color: transparent;
				color: #035899 !important;
			}
		}
		.button-block{
			display: block;
			.text-message{
				font-size: 16px;
				color: #000;
				opacity: .5;
				font-family: PT_Sans-Web-Regular, sans-serif;
				margin-top: 10px;
				line-height: 27px;
			}
		}
		.blue-button{
			font-family: PT_Sans-Web-Bold, sans-serif;
			text-transform: uppercase;
			width: 278px;
			height: 70px;
			line-height: 70px;
			font-size: 18px;
		}
	}
	.search-block_wrap{
		align-items: flex-start;
	}
	.search-form-field{
		width: 782px;
		min-width: 782px;
		padding-right: 4em;
		.text-message{
			color: #000;
			font-family: PT_Sans-Web-Regular, sans-serif;
			line-height: 27px;
			font-size: 16px;
		}
	}
	.toggle-block{
		display: flex;
		align-items: center;
		margin-top: 20px;
        position: relative;
		.toggle-container{
			margin-right: 25px;
		}
      .result-text{
        float: right;
        display: block;
        position: absolute;
        right: 0;
        font-size: 20px;
        color: #000;
        opacity: .5;
        font-family: PT_Sans-Web-Bold, sans-serif;
      }
	}
	.show_more_wrapper{
		clear: both;
		width: 100%;
		text-align: center;
		margin-top: 80px;
		margin-bottom: 90px;
	}
}
.answers-wrap{
	width: 50%;
	&.answer-left{
		float: left;
	}
	&.answer-right{
		float: right;
	}
}
.answer{
	width: 570px;
	margin-bottom: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
	border: 1px solid #ececec;
	padding: 20px;
	padding-left: 81px;
	position: relative;
	font-family: "PT_Sans-Web-Regular", sans-serif;
	margin-right: 30px;
	&:nth-child(2n){
		margin-right: 0;
	}
	.answer_title{
		display: block;
		line-height: 27px;
		font-size: 16px;
		border-bottom: 1px solid #ececec;
		max-width: 570px;
		padding-bottom: 8px;
		margin-bottom: 20px;
	}
	.answer_block_header_wrap{
		display: flex;
		align-items: center;
		.avatar_answer{
			width: 41px;
			height: 41px;
			border-radius: 50%;
			display: block;
			margin-right: 10px;
			margin-left: -51px;
		}
		.answer-social{
			display: inline-block;
			position: absolute;
			right: 20px;
			.answer-comments{
				margin-right: 15px;
			}
			.answer-comments, .answer-likes{
				transform: translateY(-50%);
				display: inline-block;
			}
			img{
				display: inline-block;
				opacity: .3;
				width: 17px;
				height: 15px;
			}
			.answer-icon_count{
				color:#4a4a4a;
				font-size: 12px;
				opacity: .5;
			}
		}
		.answer_author-name{
			font-size: 20px;
			color: #0d5f9d;
			font-weight: bold;
		}
		.answer_author-date{
			color: #000;
			opacity: 0.5;
			display: block;
			font-size: 12px;
		}
	}
	.answer-tags-list{
		display: flex;
		margin: 0;
		padding: 0;
		.answer-atg-item{
			display: block;
			margin: 0;
			padding: 0;
			margin: 30px 30px 30px 0;
			a{
				display: block;
				font-size: 12px;
				font-family: "PT_Sans-Web-Bold", sans-serif;
				color: #0d5f9d;
				text-transform: uppercase;
				letter-spacing: .6px;
			}
		}
	}
	.answer-text{
		line-height: 27px;
		font-size: 20px;
	}
	.answer_read-more{
		text-transform: uppercase;
		letter-spacing: 0.6px;
		font-weight: bold;
		margin-top: 15px;
		display: block;
		margin-bottom: 25px;
	}
}
.question_slide-box{
	.question-header{
		font-size: 20px;
		color: #000;
		padding-left: 72px;
		display: block;
		margin-top: 20px;
		margin-bottom: 40px;
		font-family: 'Merriweather-Bold', 'PT_Sans-Web-Bold', sans-serif;
	}
	.answer{
		border: none;
		box-shadow: none;
		width: 100%;
		padding-left: 172px;
		padding-right: 130px;
		.avatar_answer{
			width: 82px;
			height: 82px;
			margin-right: 15px;
			margin-left: -97px;
		}
		.answer-text{
			p{
				margin-bottom: 15px;
			}
		}
	}
	.wave{
		&:after{
			content: "";
			background: url(../images/wave.svg);
			display: block;
			height: 14px;
			width: 142px;
			margin: 80px auto 30px;
		}
	}
	.answer_raiting-box{
		margin-top: 100px;
		margin-bottom: 80px;
	}
	.social-block_wrap{
		overflow: hidden;
		margin-bottom: 0;
	}
	.comment-block_wrap .comments-block_wrap .more_btn{
		margin-bottom: 120px;
	}
	.comment-block_wrap .comments-block_wrap .comment-block .content-block .middle-part .text-block_wrap{
		max-height: 11em;
	}
	.comment-block_wrap {
		max-width: 100%;
		margin: 0 auto;
		background: linear-gradient(#fafafa, #fcfcfc);
		padding: 40px 81px 0;
		margin-top: 40px;
	}
}

.articles-section_wrap h5{
	margin-bottom: 40px;
}
section.articles-section_wrap.research-section_wrap {
	margin-bottom: 100px;
	.add_research_place{
		margin-bottom: 0;
		overflow: hidden;
	}
}
.question-section-wrap .slide-box .question_slide-box_wrapper{
	height: auto;
}
.question_slide-box_wrapper{
  padding-left: 90px;
  padding-right: 90px;
}
.question-section-wrap .ask_slide-box{
	.slide-box_wrapper{
		min-height: 100%;
        height: auto;
	}
	.ask-question_title{
		font-family: 'Merriweather-Bold', 'PT_Sans-Web-Bold', sans-serif;
		font-size: 49px;
		height: 61px;
		margin-top: 40px;
	}
    textarea.ask-the-question{
      display: block;
      width: 600px;
      height: 230px;
      margin-top: 60px;
      margin-bottom: 80px;
      resize: none;
      border: 1px solid #0d5f9d;
      padding-left: 19px;
      padding-right: 19px;
      font-size: 20px;
      line-height: 27px;
      opacity: .40;
    }
  .button-block{
     width: 280px;
     margin-top: 0;
    .text-message{
      width: 280px;
      height: 88px;
      opacity: 0.4;
      font-family: PT_Sans-Web-Regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: rgb(0, 0, 0);
      margin-top: 15px;
      display: block;
    }
    .ask-the-question-button{
      color: #fff;
      font-family: "PT_Sans-Web-Bold", sans-serif;
      font-size: 21px;
      text-transform: uppercase;
      width: 280px;
      height: 72px;
      &:hover, &:active{
        display: block;
        text-transform: uppercase;
        letter-spacing: .8px;
        text-align: center;
        border: 2px solid #2870a8;
        height: 72px;
        line-height: 41px;
        padding: 0 18px;
        box-sizing: border-box;
        width: 280px;
        color: #fff;
        font-family: "PT_Sans-Web-Bold", sans-serif;
        font-size: 21px;
        text-transform: uppercase;
        width: 280px;
        height: 72px;
        color: #fff;
        background: #035899;
      }
    }
  }
  .ask_button-section{
    display: flex;
  }
  .cancel_ask-button{
    height: 70px;
    line-height: 70px;
    margin-left: 35px;
    a{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }
  }
  .slide-box__content_ok{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-left: 90px;
    padding-right: 90px;
    .ask-question_title{
      height: auto !important;
    }
    .ask-question_title h2{
      font-size: 49px;
      display: block;
    }

    .blue-full-button{
      color: #fff;
      width: 243px;
      height: 55px;
      line-height: 55px;
      font-size: 16px;
      text-transform: uppercase;
      font-family: PT_Sans-Web-Regular;
      letter-spacing: 0.9px;
      &:hover{
        color: #035599;
      }
    }
  }
  .ask-question-text p{
    font-family: "PT_Sans-Web-Regular", sans-serif;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 640px;
    font-size: 20px;
  }
}
.search_slide-box{
  .ask-question_title h2{
    font-size: 49px;
    font-family: "Merriweather-Bold", sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .ask-question_title p{
    font-size: 20px;
    line-height: 1.45;
    width: 600px;
  }
  .input-blue{
    width: 600px;
    margin-top: 60px;
    color: #1a1a1a;
    font-family: "PT_Sans-Web-Regular", sans-serif;
    font-size: 20px;
    &::placeholder{
      color: #000000;
      opacity: .4;
    }
  }
  .form-section{
    width: 600px;
    margin-top: 60px;
  }
  .find-opt-question-button{
    width: 280px;
    height: 72px;
    font-size: 21px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 144px;
  }
}

/*Исследования*/
.research-section_wrap{
  h2{
    font-family: 'Merriweather-Regular', serif;
  }
  .container .content-block_wrap .articles-item_block{
	  flex-wrap: wrap;
  }
  .item-block.size-md {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: 50px;
  }
  .img-block {
    width: 360px;
    height: 240px;
    overflow: hidden;
    margin-bottom: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 45px 0 0;
    img {
      max-width: 100%;
      transition: all .3s ease-in-out;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  .content-block {
    width: calc(100% - 405px);
    .name {
      font-family: Merriweather-Regular, Serif;
      object-fit: contain;
      line-height: 1.38;
      text-align: left;
      font-size: 32px;
      color: #000;
    }
    .short-text{
      color: #000000;
      line-height: 27px;
      font-size: 18px;
      display: block;
      margin-top: 15px;
      margin-bottom: 50px;
    }
  }
  .info-block{
    display: flex;
    .final-date,.points-counter{
      margin-right: 50px;
      .date{
        font-family: "Merriweather-Regular", serif;
        line-height: 0.58;
        font-size: 40px;
        text-align: center;
        color: #000;
        display: block;
      }
      .text{
        font-size: 12px;
        line-height: 16px;
        padding-top: 7px;
        font-family: "PT_Sans-Web-Regular", sans-serif;
        text-align: center;
        display: block;
        opacity: .5;
        letter-spacing: normal;
      }
    }
  }
  .take-part_research{
    width: 370px;
    height: 55px;
    line-height: 55px;
    font-family: 'PT_Sans-Web-Regular', sans-serif;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 50px;
    display: block;
    background-color: #035899;
    color: #fff;
    &:visited{
      color:#fff;
    }
    &:hover{
      transition: all .3s ease-in-out;
      background-color: transparent;
      color: #035899;
    }
  }
  .section-in-work{
	  margin-top: 50px;
    width: 100%;
    .in-work-item{
      height: 105px;
      border-top: 1px solid #e2e2e2;
      line-height: 105px;
      &:last-child{
        border-bottom: 1px solid #e2e2e2;
      }
    }
    .in-work-name-wrap{
      width: 450px;
      display: inline-block;
    }
    .in-work-name{
      font-size: 20px;
      display: inline-block;
      line-height: 9px;
      color: #000;
      border-bottom: 8px solid rgb(194, 227, 243);
      font-weight: bold;
    }
    .in-work-status{
      font-size: 14px;
      color: #035899;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .button-wrap{
    width: 100%;
    color: #fff;
    .continue_research{
      display: block;
      width: 370px;
      height: 55px;
      margin: 40px auto 120px;
      display: block;
      line-height: 55px;
      font-family: 'PT_Sans-Web-Regular', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.9px;
      &:visited{
        color: #fff;
      }
      &:hover{
        transition: all .3s ease-in-out;
        background-color: transparent;
        color: #035899;
      }
    }
  }
}
/*research page*/
.research-section_wrap{
  .research-article{
    text-align: center;
    color: rgba(0,0,0,.5);
    font-family: 'PT_Sans-Web-Regular', sans-serif;
    font-size: 24px;
    line-height: 31px;
    margin-top: -60px;
  }
  .detail-research-article{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.7px;
    font-weight: bold;
    display: block;
    margin-top: 16px;
    margin-bottom: 50px;
  }
  .info-research-article{
	  margin-top: 30px;
  }
  .info-research-article, .info-table{
    display: flex;
    justify-content: space-between;
    background-color: rgba(216,216,216,.2);
    padding: 30px;
    .title-in-work{
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
      div{
        margin-bottom: 8px;
		  line-height: 1.14;
      }
    }
  }
.info-research-article.checked{
	border-bottom: transparent;
	box-shadow: 1px 1px 7px #ccc, -1px -1px 4px #ccc;
	transition: all .3s;
	.location-title-wrap .location-name{
		font-size: 32px;
		line-height: 27px;
		transition: all 0.3s;
	}
	.location-show-more{
		img{
			transform: rotate(90deg);
			transition: all 0.5s;
		}
	}
}
  .add_research_place{
    display: block;
    width: 320px;
    height: 55px;
    margin: 40px auto 120px;
    display: block;
    line-height: 55px;
    font-family: 'PT_Sans-Web-Regular', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.9px;
    &:visited{
      color: #fff;
    }
    &:hover{
      transition: all .3s ease-in-out;
      background-color: transparent;
      color: #035899;
    }
  }
  .cancel_research_place{
	  text-transform: uppercase;
	  font-size: 16px;
	  line-height: 27px;
	  font-family: "PT_Sans-Web-Regular", sans-serif;
	  font-weight: bold;
	  text-align: center;
	  margin: 0 auto;
	  display: block;
	  margin-top: -80px;
	  display: none;

  }
}
.container{
	.location-table{
		background-color: #fff;
		flex-wrap: wrap;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		border-bottom: 2px solid #eeeeee;
		.location-title-wrap{
			display: block;
			width: 100%;
			padding-bottom: 20px;
			line-height: 27px;
		}
		.short-info-wrap{
			width: 100%;
			display: flex;
			margin: 0 50px;
			justify-content: space-between;
		}
		.location-name{
			display: inline-block;
			font-size: 20px;
			transition: all .3s
		}
		.location-show-more,.patient-show-more{
			position: absolute;
			display: block;
			right: 50px;
			top: 30px;
			img{
				transition: all 0.5s;
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
.new-research-place{
	display: none;
	margin: 90px 50px;
	.title-wrap{
		margin-bottom: 50px;
	}
	.location-name{
		font-size: 20px;
		line-height: 8px;
		color: #000;
		font-family: "PT_Sans-Web-Regular";
		font-weight: bold;
		margin-bottom: 30px;
	}
}
.location-add-form{
	input[type='text']{
		width: 439px;
		height: 70px;
		line-height: 70px;
		font-size: 20px;
		display: inline-block;
		&::placeholder{
			color: rgba(0,0,0,.4);
		}
	}
	.share-accept{
		display: flex;
		justify-content: flex-start;
		margin-top: 60px;
		.message-block{
			margin-right: 15px;
			.header-title{
				font-size: 20px;
				line-height: 27px;
				font-family: "PT_Sans-Web-Regular", sans-serif;
			}
			.desc{
				p{
					color: #000;
					opacity: .7;
					font-size: 14px;
					font-family: "PT_Sans-Web-Regular",sans-serif;
					max-width: 564px;
					margin: 8px 0;
				}
			}
		}
	}
	.invite-wrap{
		display: flex;
		margin-top: 30px;
		align-items: center;
		.input-wrap{
			max-width: 439px;
			margin-right: 25px;
		}
		.blue-text{
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.7px;
			font-weight: bold;
			margin-left: 25px;
			font-family: "PT_Sans-Web-Regular",sans-serif;
		}
	}
	.info-text{
		font-family: "PT_Sans-Web-Regular",sans-serif;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 30px;
		max-width: 450px;
		display: block;
		margin-top: 10px;
		color: #000;
		opacity: .7;
	}
	h3.header-invited-persons{
		font-size: 20px;
		color: #000;
		font-family: "PT_Sans-Web-Regular", sans-serif;
	}
	.research-invited-persons{
		display: flex;
		margin-top: 30px;
	}
}
.invited-person{
	display: flex;
	width: 50%;
	.avatar{
		margin-right: 25px;
	}
	.avatar img{
		display: block;
		border-radius: 50%;
		height: 129px;
		width: 129px;
	}
	.name{
		font-size: 20px;
		color: #035899;
		display: block;
		margin: 0 0 10px 0;
	}
	.description{
		font-size: 14px;
		color: #000;
		display: block;
		max-width: 330px;
		margin: 10px 0;
	}
	.place{
		font-size: 14px;
		opacity: .5;
		display: block;
		margin: 10px 0;
	}
	.city{
		font-size: 14px;
		display: block;
		margin: 10px 0 20px;
	}
	.delete-person{
		color: #035899;
		line-height: 27px;
		font-size: 16px;
		letter-spacing: 0.7px;
		font-weight: bold;
		text-transform: uppercase;
	}
}
.location-patients{
	display: none;
	width: 100%;
	margin-top: 50px;
	.button-block{
		display: flex;
		justify-content: center;
		margin-top: 54px;
		margin-bottom: 35px;
	}
	.blue-full-button{
		background-color: rgba(3, 88, 153, 0.85);
		font-weight: bold !important;
		color:#fff !important;
		text-transform: uppercase !important;
		margin-left: 40px;
		&:hover{
			color: rgba(3, 88, 153, 0.85) !important;
		}
	}
	.patients-top-menu{
		display: flex;
		justify-content: flex-start;
		color: #035899;
		text-transform: uppercase;
		border-bottom: 2px solid #eeeeee;
		a{
			margin-right: 30px;
			padding-bottom: 20px;
			display: inline-block;
		}
		.patients-link{
			font-weight: bold;
		}
	}
	.patient-descr,.etap-descr{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		font-size: 14px;
		font-family: "PT_Sans-Web-Regular", sans-serif;
		.green-text{
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.patient-descr{
		margin-left: 50px;
	}
	.patient{
		margin-left: 50px;
		padding-top: 40px;
		padding-right: 75px;
		margin-right: 25px;
		border-bottom: 2px solid #eeeeee;
		padding-bottom: 40px;
		position: relative;
		.patient-title{
			font-weight: bold;
			font-size: 20px;
			margin-left: 50px;
		}
		.patient-show-more{
			top: 37px;
			transition: all .3s;
		}
	}
	.patient.checked{
		box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
		margin-top: -2px;
		background: #fff;
		.patient-title{
			font-size: 32px;
			line-height: 44px;
			font-family: "Merriweather-Regular", serif;
			transition: all 0.3s;
			border: none;
			font-weight: normal;
		}
		.patient-show-more{
			transform: rotate(90deg);
			transition: all .3s;
		}
	}
}
.patients-wrapper-shadow{
	border: 1px solid transparent;
	box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
}
.slideUpWrap{
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	min-width: 40px;
	.slideUpLink{
		display: block;
		position: absolute;
		width: 39px;
		height: 39px;
		background: #fff;
		bottom: -50px;
		border-radius: 50%;
		box-shadow: 1px 1px #ccc, -1px -1px 1px #ccc;
		left: 50%;
		transform: translateX(-50%);
	}
	.slideUp{
		transform: rotate(270deg);
		margin: 8px auto;
		display: block;
	}
}

.location-etaps{
	display: none;
	.hidePatient{
		bottom: -58px;
	}
	.etaps-wrapper{
		margin: 0 50px 0 100px;
	}
	.etaps-title{
		display: flex;
		justify-content: flex-start;
		color: #035899;
		text-transform: uppercase;
		border-bottom: 2px solid #eeeeee;
		margin-top: 50px;
		margin-left: 50px;
		a{
			margin-right: 30px;
			padding-bottom: 20px;
			display: inline-block;
		}
	}
	.etap{
		border-bottom: 2px solid #eee;
		padding-bottom: 40px;
		padding-top: 10px;
		.etap-name{
			font-weight: bold;
			line-height: 5px;
			font-size: 16px;
			font-family: "PT_Sans-Web-Bold", sans-serif;
		}
		.etaps-comments-images{
			opacity: 0.4;
		}
	}
}
.add-new-etap-wrapper{
	width: 100%;
	display: none;
	.new-etap-form{
		box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
		padding: 50px;
		margin-bottom: 20px;
		//margin-top: 40px;

	}
	.new-etap-title{
		font-size: 32px;
		line-height: 44px;
		color: #000;
		font-family: "Merriweather-Regular", serif;
	}
	.new-etap-name{
		margin-top: 16px;
		font-family: "PT_Sans-Web-Regular", sans-serif;
		font-size: 20px;
		line-height: 27px;

	}
	input[type='text']{
		width: 439px;
		height: 70px;
		line-height: 70px;
		font-size: 20px;
		display: inline-block;
		&::placeholder{
			color: rgba(0,0,0,.4);
		}
	}
	.nomer-reserch{
		margin-top: 30px;
	}
	.new-etap-section{
		margin-top: 70px;
		font-family: "PT_Sans-Web-Regular", sans-serif;
		font-size: 20px;
		line-height: 27px;
	}
	.LPY-check{
		display: block;
	}
	label.label-lpu{
		display: block;
		margin-top: 40px;
		cursor: pointer;
	}
	.etap-check{
		display: none;
	}
	.etap-check+span{
		background: url("../images/checked.svg") no-repeat;
		padding-left: 30px;
		display: block;
	}
	.etap-check:checked+span{
		background: url("../images/checkedOk.svg") no-repeat;
		background-position: 0px center;
	}
	.button-wrapper{
		display: flex;
		margin-top: 45px;
		justify-content: space-between;
		.red_button,.blue-full-button{
			width: 175px;
			height: 45px;
			line-height: 45px;
			margin: 0;
			padding: 0;
			display: inline-block;
			min-width: auto;
			font-size: 14px;
			text-transform: uppercase;
			font-family: "PT_Sans-Web-Regular", sans-serif;
			font-weight: bold;
		}
	}
}
.new-etap-form .hideEtap{
	bottom: -65px;
}
//************основные стили (кнопки, инпуты и т.д.)
.form-section{
	width: 50%;
}
.search-form-field{
	width: 100%;
	max-width: 432px;
	float: right;
	input{
		display: inline-block;
		height: 70px;
		object-fit: contain;
		width: 100%;
		font-family: "PT_Sans-Web-Regular", sans-serif;
		font-size: 20px;
		padding-left: 25px;
		border: 1px solid rgba(3,88,153,.5);
	}
	.gray{
		&::placeholder{
			color: rgba(0,0,0,.5);
		}
	}
	.i-search-tool{
		background-image: url("../images/search-tool.svg");
		background-repeat: no-repeat;
		background-position: 97% center;
		background-color: transparent;
		padding-right: 10%;
	}
}
.title-search{
	margin-top: -5px;
	.search-result_wrap {
		background-color: #fff;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
	}
	.title {
		font-family: PT_Sans-Web-Bold;
		font-size: 14px;
		text-align: left;
		color: #0d609e;
		margin-bottom: 8px;
		padding: 12px 0 0 28px;
	}
	.search-result_wrap .result-block ul li {
		padding: 7px 0 13px 28px;
		background: #fff;
	}
}
.toolbar{
	width: 15.34%;
	margin-bottom: 30px;
	margin-right: 40px;
	.toolbar-header{
		width: 100%;
		border: 1px solid rgba(3,88,153,.5);
		margin-bottom: 30px;
		.toolbar-title{
			font-size: 21px;
			padding-left: 14px;
			display: block;
			height: 100%;
			line-height: 57px;
		}
	}
	.toolbar-help_text{
		font-size: 16px;
		line-height: 27px;
		font-family: "PT_Sans-Web-Regular", sans-serif;
		color: rgba(0,0,0,.5);
		padding: 15px;
	}
	.toolbar-list{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		.toolbar-list-item{
			padding: 0;
			margin: 0;
			display: block;
			font-size: 21px;
			height: 100%;
			line-height: 57px;
			border: 1px solid rgba(3,88,153,.5);
			margin-bottom: 20px;
		}
		.toolbar-list-link{
			display: block;
			text-decoration: none;
			padding-left: 14px;
		}
		.active-item{
			border: none;
			background-color: #035899;
			a{
				background-color: #035899;
				color: #fff;
			}
		}
	}
}
.shape {
	background-image: url(../images/file.png);
	width: 24px;
	display: inline-block;
	height: 32px;
	position: relative;
	top: -9px;
	padding-top: 10px;
	background-position: 0 0;
}
.blue-text{
	color: rgba(3,88,153,1);
}
.black-text{
  color:#000;
}
.gray-text{
  color: rgba(0,0,0,.5) !important;
}
.green-text{
  color: #27b003 !important;
}
.red_button{
	display: inline-block;
	vertical-align: top;
	min-width: 300px;
	line-height: 66px;
	opacity: .85;
	border: 2px solid #bf2d3c;
	font-family: "PT_Sans-Web-Bold", sans-serif;
	font-size: 21px;
	letter-spacing: 1.2px;
	text-align: center;
	color: #bf2d3c;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 30px auto;
	&:hover{
		color: #fff;
		background: #bf2d3c;
		opacity: 1;
	}
}
.blue-button{
	display: block;
	text-transform: uppercase;
	font-family: PT_Sans-Web-Bold;
	font-size: 14px;
	letter-spacing: .8px;
	text-align: center;
	color: #035899;
	border: 2px solid #2870a8;
	height: 45px;
	line-height: 41px;
	padding: 0 18px;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	&:hover{
		transition: all .3s ease-in-out;
		color: #fff;
		background: rgba(3,88,153,.85);
	}
}
.blue-full-button{
	color: #fff;
	background: #035899;
	display: block;
	letter-spacing: .6px;
	text-align: center;
	border: 2px solid #035899;
	line-height: 41px;
	padding: 0 18px;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	&:hover,&:visited,&:active{
		transition: all .3s ease-in-out;
		background-color: transparent;
		color: #035899;
	}
}
.toggle-container{
	margin-right: 50px;
	padding-top: 7px;
	.toggle{
		position: relative;
		display: inline-block;
		width: 38px;
		height: 23px;
		border-radius: 50px;
		background-color: #74c0eb;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		.toggle-item{
			position: absolute;
			top: 50%;
			right: -12px;
			margin-top: -16px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: #035899;
			-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.24);
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.24);
			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
	}
	.toggle-disabled{
		background-color: #71bce6;
		position: relative;
		display: inline-block;
		width: 38px;
		height: 23px;
		border-radius: 50px;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		.toggle-item{
			right: 18px;
			background-color: #ffffff;
			-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.24);
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 50%;
			margin-top: -16px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
	}
}
.slide-box{
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform: translateX(70%);
	-ms-transform: translateX(70%);
	transform: translateX(70%);
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .4);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	overflow: auto;
	.slide-box__content{
		background-color: #fff;
	}
	&::-webkit-scrollbar{
		width: 1px;
		background-color: #fff;
	}
	.slide-box_wrapper{
		background-color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 952px;
		-webkit-box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.24);
		box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.24);
	}
	.slide-box__close{
		position: absolute;
		left: -48px;
		top: 13px;
	}
	&-visible{
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
		visibility: visible;
	}

}
.rating-box{
	h6{
		margin-bottom: 6px;
		font-family: PT_Sans-Web-Bold;
		font-size: 16px;
		text-align: center;
		color: #000;
	}
	.disc {
		margin-bottom: 20px;
		opacity: .5;
		font-family: PT_Sans-Web-Regular;
		font-size: 12px;
		text-align: center;
		color: #000;
	}
	.mark-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	li {
		margin-right: 15px;
	}
	a {
		width: 38px;
		height: 38px;
		border-radius: 100%;
		display: block;
		line-height: 36px;
		box-sizing: border-box;
		border: 1px solid #a8d6ee;
		opacity: .5;
		font-family: PT_Sans-Web-Regular;
		font-size: 16px;
		text-align: center;
		color: #035899;
		transition: all .3s ease-in-out;
		&:hover {
			background: #3377ab;
			color: #fff;
			opacity: 1;
			transition: all .3s ease-in-out;
		}
	}
}
.disabled-item{
  opacity: .5 !important;
  cursor: not-allowed !important;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}
.input-blue{
  display: block;
  border: 1px solid #81abcc;
  height: 70px;
  padding-left: 25px;
}
.header-title-centred{
	text-align: center !important;
	line-height: 1.35 !important;
}
.blue-border-bottom{
	display: inline-block;
	line-height: 9px;
	color: #000;
	border-bottom: 8px solid #c2e3f3;
	font-weight: bold;
}





//**************************************************
/*DO NOT COPY*/
.form-section {
  position: relative;
  margin-bottom: 60px;
}
.form-select {
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form-section {
  position: relative;
  margin-bottom: 60px;
}

.form-section:last-child {
  margin-bottom: 0;
}

.form-section_fields {
  margin-bottom: 20px;
}

.form-section__title {
  margin-bottom: 30px;
  font-family: PT_Sans-Web-Regular;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0,0,0, .4);
}

.form-section_age .form-section__title {
  margin-bottom: 54px;
}

.form-list {
  position: relative;
}

.form-list__select {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.form-list__selected {
  padding: 0 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: PT_Sans-Web-Regular;
  font-size: 20px;
  line-height: 68px;
  border: 1px solid rgba(3, 88, 153, .5);
  cursor: pointer;
}

.form-list__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  background-color: #fff;
  border: 1px solid rgba(3, 88, 153, .5);
  border-top: none;
  z-index: 5;
}

.form-list__item {
  margin-bottom: 15px;
  cursor: pointer;
}

.form-list__item:last-child {
  margin-bottom: 0;
}

.form-list_is_open .form-list__list {
  display: block;
}

.ui-datepicker {
  width: 392px;
  padding: 20px 25px 25px;
  background-color: #fff;
  font-family: PT_Sans-Web-Regular;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.ui-datepicker .ui-datepicker-header {
  padding: 0;
}

.ui-datepicker .ui-datepicker-title {
  font-size: 20px;
  line-height: 1.2;
  color: rgba(3, 88, 153, .5);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
  left: 0;
  top: -1px;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
  right: 0;
  top: -1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  height: 13px;
  width: 9px;
  margin-left: -4.5px;
  margin-top: -6.5px;
}


.ui-datepicker th,
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(3, 88, 153, .5);
}

.ui-datepicker th {
  font-family: PT_Sans-Web-Bold;
}

.ui-datepicker td a {
  color: #035899;
}

.form-datepicker {
  position: relative;
  padding: 22px 26px 24px;
  border: 1px solid rgba(3, 88, 153, .5);
  height: 70px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-datepicker__title {
  font-family: PT_Sans-Web-Regular;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0,0,0, .4);
}

.form-datepicker__control {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-datepicker__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.2;
  font-size: 20px;
  font-family: PT_Sans-Web-Regular;
  color: #035899;
}

.form-datepicker_selected {
  padding-top: 12px;
  padding-bottom: 15px;
}

.form-datepicker_selected .form-datepicker__title {
  margin-bottom: 5px;
  font-size: 12px;
  color: #74c0eb;
}

.form-datepicker-group_style_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.form-datepicker-group_style_1 .form-datepicker {
  width: 50%;
  margin-right: 30px;
}

.form-datepicker-group_style_1 .form-datepicker:last-child {
  margin-right: 0;
}

